Darstellung_PV-Anzeige.png
PV-Anzeige_1.pro.user
QT_Farbwerte_korrigieren.xlsx
DoppelPfeile.docx
fonts.qrc
webdings.ttf
Doppelpfeil_rechts.png
resources.qrc
Original_SunnyPortal_3_Farben_im_Haus.png
*.bak
Haus_3+Wallbox2_Farben.png
Haus_3+Wallbox_Farben.png
Haus_3_Farben.png
main.qml.autosave
Darstellung_PV-Anzeige_2.png
Darstellung_PV-Anzeige_3.png
Haus_2+Wallbox_1_Farben.png
Icons/sources/Mast2.png
Icons/sources/Mast3.png
Icons/sources/Mast4.png
Icons/sources/Mast_vec.png
Icons/sources/Sonne2.png
Anzeige-Bilder.docx
