[submodule "thirdparty/qmqtt"]
	path = thirdparty/qmqtt
	url = https://github.com/emqx/qmqtt.git
[submodule "thirdparty/qmsgpack"]
	path = thirdparty/qmsgpack
	url = https://github.com/mincequi/qmsgpack
