*.bak
main.qml.autosave
build-*
PV-Anzeige.pro.user
icons/sources/*.*
icons/sources/
Icons/electric-scooter_real_transparent.png
Icons/electric-scooter_real_steckt_transparent.png
Icons/electric-car_real_transparent.png
Icons/electric-car_real_steckt_transparent.png
Icons/electric-car_real_steckt_gruen_transparent.png
Icons/electric-scooter_real_steckt_gruen_transparent.png
